@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0 auto;
  font-family: 'Gruppo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23272f;
  color: #149eca;
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 5px;
  border-width: 0.5px;
  border-color: rgb(86, 86, 86);
  color: white;
  border-style: double;
  border-radius: 15px;
  background-color: #23272f;
  margin: 15px;
  width: 100px;
  font-family: 'Gruppo', sans-serif;
  font-weight: 700;
}
button:hover {
  background-color: #149eca;
}
